<h2>{{titulo}}</h2>

<p>Añadir marca</p>
<p>
    <input type="text" name="" id="" [(ngModel)] = 'mi_marca' (blur)='onBlur()' (keyup.Enter)= 'mostrarPalabra()'/>
</p>

<button (click) = 'getMarca()'>Mostrar marca</button>
<button (click) = 'addMarca()'>Añadir marca</button>
<p>{{mi_marca}}</p>


<p>Tenemos las mejores marcas</p>

<ul>
    <li *ngFor="let marca of marcas; let indice = index">
        {{marca}}
        <button (click) = 'borrarMarca(indice)'>Borrar</button>
    </li>
</ul>

<ul>
    <li *ngFor="let zapatilla of zapatillas">
        <span [ngStyle]="{'text-decoration': !zapatilla.stock ? 'line-through' : 'none'}">
            {{zapatilla.nombre}} - <strong [class.altoPrecio] = 'zapatilla.precio >= 80'>{{zapatilla.precio}}€</strong></span>
        <span *ngIf="zapatilla.precio <= 80"
            [style.background] = 'zapatilla.precio <= 80 ? "green" : "none"'
            [style.color] = 'zapatilla.precio <= 80 ? "white" : "black"'
            >¡En Oferta!
        </span>
    </li>
</ul>
